html, body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}

/* Typing */
.typing__block {
    position: absolute;
    left: 15vw;
    width: 33vw;
}

#typo {
    position: relative;

    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.typed-cursor {
    font-size: 40px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.header__element {
    position: absolute;
    top: 50%;
}

#image {
    position: absolute;
    right: 5vw;
    top: 0;
}

#image img {
    height: 95vh;
}


/* Divider */
.divider {
    position: relative;
    height: 1px;
}

.div__transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


/* Content */
.main__container {
    margin: 40px 150px 40px 150px;
}

/* About me */
.vol {
    margin: 0 0 150px 0;

    display: flex;
    justify-content: space-around;
}

#picture {
    border-radius: 300px;
    margin-left: 40px;

    height: 300px;
    transition: height .7s ease-out 100ms;


}

#picture:hover {
    height: 305px;
}

#shade {
    display: block;

    position: absolute;
    top: 30px;
    right: -30px;

    width: 300px;
    height: 300px;

    border-radius: 300px;
    background-color: #cbc2d5;

    z-index: -1;
}


/* My skills */
.skill {
    text-align: center;
}

.pic {
    height: 100px;
}


/* Footer */
footer {
    text-align: center;
    margin: 20px 0 50px 0;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: black;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

footer a:link {
    color: black;
}

